{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <!-- START HOME -->
    <section class="section bg-home-4" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center variation-4">

                                <h2 class="home-title mt-3"><span
                                        class="element"
                                        data-elements="Indonesian Professionals Association in South Korea"></span>
                                </h2>
                                {#                                <h3 class="home-subtitle">Indonesian Professionals Association in South#}
                                {#                                    Korea</h3>#}
                                <p class="home-desc mt-3 line-height_1_6">Indonesian Professionals Association in South
                                    Korea (IPA KR) represents a diverse group of talented Indonesian future leaders who
                                    are carving out their careers in South Korea</p>
                                <div class="mt-5">
                                    <a href="" class="btn btn-success">Professional</a>
                                    <a href="" class="btn btn-primary">Student</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->

    <!-- START ABOUT -->
    <section class="section" id="vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Vision</h4>
                        <p class="title-desc text-muted mt-3">IPA KR aims to become a go-to community for Indonesian
                            professionals for developing careers in South Korea while staying connected to Indonesia
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Mission</h4>
                        <p class="title-desc text-muted mt-3">Foster business, investment, and social links between
                            South Korea and Indonesia through a strong professional hub of future leaders
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-users text-custom"></i>
                        </div>
                        <h5 class="mt-4">Collaborative Community</h5>
                        <p class="text-muted mt-4 mb-0">Combined with handful model sentence they strucre generate which
                            looks reasonable is therefore always free </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-global text-custom"></i>
                        </div>
                        <h5 class="mt-4">Diversity</h5>
                        <p class="text-muted mt-4 mb-0">Sombined with handful model sentence they strucre generate which
                            looks reasonable is therefore always free</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-refresh-2 text-custom"></i>
                        </div>
                        <h5 class="mt-4">Continuous Development</h5>
                        <p class="text-muted mt-4 mb-0">Kombined with handful model sentence they strucre generate which
                            looks reasonable is therefore always free</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-rocket text-custom"></i>
                        </div>
                        <h5 class="mt-4">Growth</h5>
                        <p class="text-muted mt-4 mb-0">Dombined with handful model sentence they strucre generate which
                            looks reasonable is therefore always free </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END ABOUT -->

    <!-- START COUNTER -->
    <section class="section bg-counter" style="display:None">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row vertical-content" id="counter">
                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="920">652</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Happy Customers</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="850">320</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Completed Projects</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-3" data-count="100">51</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">World wide Client</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="789">462</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Architecture Worker</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END COUNTER -->

    <!-- START TEAM -->
    <section class="section bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Smart Team</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt
                            donec
                            quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Vicki-Ardiansah-450-450.jpg' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Vicki Ardiansah</h5>
                            <p class="text-muted">Executive Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Katherin-Yolanda-450-450.jpg' %}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Katherin Yolanda</h5>
                            <p class="text-muted">Deputy Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Fathan-Adi-Pranaya-450-450.jpg' %}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Fathan Pranaya</h5>
                            <p class="text-muted">IT Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Rizki-Maulana-450-450.jpg' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Rizki Maulana</h5>
                            <p class="text-muted">Marketing & Comm Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Jessica-Wirastari-450-450.jpg' %}"
                                 class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Jessica Wirastari</h5>
                            <p class="text-muted">Membership Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Zahra-Pradanya-450-450.jpg' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Zahra Pradanya</h5>
                            <p class="text-muted">Mentorship Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Kevin-Lanov-450-450.jpg' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Kevin Lanov</h5>
                            <p class="text-muted">Events Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box-5 mt-4">
                        <div class="team-5-img text-center">
                            <img src="{% static 'glamium/images/users/Dianta-Ginting-450-450.jpg' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="team-5-content p-4 text-center">
                            <h5>Dianta Ginting</h5>
                            <p class="text-muted">Finance & Ops. Director</p>
                            <div class="team-5-border"></div>
                            <div class="mt-3">
                                <a href="" class="team-email">ipakr.team@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TEAM -->

    <!-- START INFOGRAPHICS -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="about-heading text-center line-height_1_6">
                        <span class="text-custom">Established in 2021, </span>
                        IPA KR represents a growing group of 70+ Indonesian professionals building
                        careers in South Korea across 10 industries with diverse roles
                    </h4>
                </div>
            </div>

            <div class="row mt-5 pt-5">
                <div class="col-lg-8">
                    <div class="about-content mt-4">
                        <h3 class="about-title">Industry Distribution (July 2021)</h3>
                        <div class="row mt-4">
                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">30%</h3>
                                    <h4 class="mt-3">Information Technology</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">16%</h3>
                                    <h4 class="mt-3">Finance</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 16%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">12%</h3>
                                    <h4 class="mt-3">Marketing</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 12%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">10%</h3>
                                    <h4 class="mt-3">Engineering</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 10%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">8%</h3>
                                    <h4 class="mt-3">Medical</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 8%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="about-lavel mt-4">
                                    <h3 class="text-custom">24%</h3>
                                    <h4 class="mt-3">Others</h4>
                                    <div class="progress mt-4" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 24%;"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-image mt-4">
                        <img src="{% static 'glamium/images/about-img.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- END INFOGRAPHICS -->

    <!-- START SUBSCRIBE -->
    <section class="section section-lg bg-subcribe">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-box text-center">
                        <h4 class="subscribe-title">Signup for free newsletter</h4>
                        <p class="subscribe-desc mt-4">Send us Your e-mail & we will save you a seat!</p>
                        <div class="text-center subcribe-form mt-4 pt-3">
                            <form action="#">
                                <input placeholder="Enter your e-mail here" type="text">
                                <button type="submit" class="btn btn-custom">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SUBSCRIBE -->


    <!-- START BLOG -->
    <section class="section" id="blog" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">From the Blog</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt
                            donec
                            quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="{% static 'glamium/images/blog/img-1.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="blog-4-content p-2">
                            <h5><a href="" class="blog-5-title f-19 line-height_1_6">Praesent pellentesque laoreet
                                liberao
                                convallis purus tincidunt.</a></h5>
                            <p class="text-muted mt-3">Proin lacinia consequat they mauris tristique fussce suscipit
                                nullam
                                magna tellus pretium justo mattis Curabitur lorem.</p>

                            <div class="mt-4">
                                <div class="float-left">
                                    <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                                </div>

                                <div class="text-right">
                                    <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="{% static 'glamium/images/blog/img-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="blog-4-content p-2">
                        <h5><a href="" class="blog-5-title f-19 line-height_1_6">Consectetur libero in tincidunt ornar
                            tellus eleifend quis suscipit.</a></h5>
                        <p class="text-muted mt-3">Vestibulum aliquam maximus ligula convallis auctor magna fusce
                            dapibus
                            cursus congue malesuada massa sagittis.</p>

                        <div class="mt-4">
                            <div class="float-left">
                                <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                            </div>

                            <div class="text-right">
                                <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="{% static 'glamium/images/blog/img-3.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="blog-4-content p-2">
                        <h5><a href="" class="blog-5-title f-19 line-height_1_6">Donec venenatis ornare dapibus they
                            cursus
                            blandit interdum.</a></h5>
                        <p class="text-muted mt-3">Conubia nostra inceptos in himenaeos tellus fringilla accumsan
                            accumsan
                            erats vivamus tristique placerat pellentesque.</p>

                        <div class="mt-4">
                            <div class="float-left">
                                <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                            </div>

                            <div class="text-right">
                                <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END BLOG -->

    <!-- START CONTACT -->
    <section class="section bg-light" id="contect" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Contact us</h4>
                        <p class="title-desc text-muted mt-3">for any inquiries please contact ipakr.team@gmail.com or
                            fill the form below.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-6" style="display: none">
                    <div class="map mt-4">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
                                width="100%" height="280" style="border: 0" allowfullscreen=""></iframe>

                        <h5 class="mt-3">Our Address</h5>
                        <p class="text-muted mt-3 mb-0">4870 Broaddus Avenue Madisonville, KY 42431 </p>
                        <p class="text-muted">270-205-3030 , 404-219-6834</p>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="contact-box">
                        <div class="custom-form">
                            <div id="message"></div>
                            <form method="post" action="php/contact.php" name="contact-form" id="contact-form">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <input name="name" id="name" type="text" class="form-control"
                                                   placeholder="Your Name*">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <input name="email" id="email" type="email" class="form-control"
                                                   placeholder="Your Email*">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                        <textarea name="comments" id="comments" rows="5" class="form-control"
                                                  placeholder="Write Message*"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mt-3">
                                            <input type="submit" id="submit" name="send"
                                                   class="submitBnt btn btn-custom"
                                                   value="Send Message">
                                            <div id="simple-msg"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END CONTACT -->
{% endblock content %}
